<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center"> Usuarios </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div>
    <ion-button (click)="getArrayFiltrado('all')"> TODOS </ion-button>
    <ion-button (click)="getArrayFiltrado('man')">
      <ion-icon name="man"></ion-icon>
    </ion-button>
    <ion-button (click)="getArrayFiltrado('woman')">
      <ion-icon name="woman"></ion-icon>
    </ion-button>
  </div>
  <div>
    <div>
      <p>
        Entre
        <input
          clearInput
          type="number"
          [(ngModel)]="min"
          style="width: 50px"
          (change)="getUsersAge()"
        />
        y
        <input
          type="number"
          [(ngModel)]="max"
          style="width: 50px"
          (change)="getUsersAge()"
          clearInput
        />
        años
      </p>
    </div>
  </div>

  <ion-list>
    <ion-item *ngFor="let user of arrayFiltrado">
      <ion-avatar slot="start">
        <img [src]="user.image" />
      </ion-avatar>
      <ion-label>
        {{ user.fullName }}
        <h3>{{ user.userName }}</h3>
        <p>Tiene {{ user.age }} años y vive en {{ user.city }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
